[legends]
KC_EXLM=!
KC_HASH=#
KC_PERC=%
KC_AT=@
KC_DLR=$
KC_CIRC=^
KC_LCBR={
KC_LPRN=(
KC_LBRACKET=[
KC_RCBR=}
KC_RPRN=)
KC_RBRACKET=]
KC_PIPE=|
KC_GRAVE=` ~
KC_GRV=` ~
KC_TILD=~
KC_PLUS=+
KC_AMPR=&
KC_UNDS=_
KC_MINUS=-
KC_EQUAL==
KC_ALGR(KC_5)=€
KC_SLASH=/ ?
KC_COMMA=, >
KC_ASTR=*
KC_DOT=. <
KC_BSLS=\ |
KC_QUOTE=' "
KC_SCLN=; :
KC_TRANSPARENT=
_______=
KC_MEDIA_PLAY_PAUSE=Play
KC_AUDIO_MUTE=Mute
KC_AUDIO_VOL_DOWN=Vol -
KC_AUDIO_VOL_UP=Vol +
TD(TD_OBSIDIAN)=Obsidian

MT(MOD_LCTL,KC_A)=A Ctrl
MT(MOD_LALT,KC_S)=S Opt
MT(MOD_LGUI,KC_D)=D Cmd
MT(MOD_LSFT,KC_F)=F Shft
MT(MOD_RSFT,KC_J)=J Shft
MT(MOD_RGUI,KC_K)=K Cmd
MT(MOD_RALT,KC_L)=L Opt
MT(MOD_RCTL,KC_SCOLON)=; Ctrl